.imgWidth{
    width: 20px;
}

#post{
    margin-top: 3.5%;
    margin-left: 20%;
}

#position{
    position: absolute;
    margin-top: 6%;
    margin-left: 63%;
}

@media (max-width : 700px){
    #post{
        margin-left: 0%;
        margin-top: 20%;
    }
    #index{
        text-align: center;
    }
}