.imgWidth{
    width: 20px;
}

.picture{
    width: 30px;
    height: 30px;
}

.pictureSize{
    width: 200px;
    height: 200px;
}

#post{
    margin-left: 20%;
}
#width{
    margin-left: 30%;
}

#position{
    position: absolute;
    margin-top: 6%;
    margin-left: 63%;
}

.h-100{
    min-height: 100vh;
}

@media (max-width : 700px){
    #width{
        margin-left: 0%;
    }
    #post{
        margin-left: 0%;
    }
    #index{
        text-align: center;
    }
    .pictureSize{
        width: 150px;
        height: 150px;
    }
    
}