.imgWidth{
    width: 20px;
}

.picture{
    width: 30px;
    height: 30px;
}

.pictureSize{
    width: 200px;
    height: 200px;
}

.pictureUser{
    width: 100%;
    height: 250px;
}


#width{
    margin-top: 1%;
}

#position{
    position: absolute;
    margin-top: 6%;
    margin-left: 63%;
}

.h-100{
    min-height: 100vh;
}

@media (max-width : 1000px){
    #index{
        text-align: center;
    }
    .pictureSize{
        width: 150px;
        height: 150px;
    }
    
}